// /* About Page */

// .about-banner {
//     background-image: url(../../assest/images/about-hero.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: bottom;
//     height: 100vh;
//     position: relative;
// }

// .about-title {
//     position: absolute;
//     transform: translate(300%, -300%);
//     color: white;
//     font-size: 2rem;
// }

// .about-sections {
//     @include container;
//     padding: 50px 50px 50px 50px;
//     h2 {
//         text-align: center;
//     }
//     div {
//         padding: 0 100px;
//         line-height: 2;
//     }
// }

.hero-image-header {
    height: 100vh;
}

.story-1,
.story-2,
.team-1,
.team-2 {
    @include container;
    padding: 0 150px;
    line-height: 2rem;
}
.team-2 {
    padding-bottom: 50px;
}
.about-header {
    font-size: 2rem;
    color: $purple;
}

.about-title {
    .entry-header {
        display: none;
    }
    .entry-content {
        margin: unset;
        h1 {
            font-size: 3rem;
            color: white;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}