/* Category Product page */ 

.category-product-content {
    @include container;
    padding-top: 100px;
    .category-header {
        text-align: center;
        border-bottom: 1px dashed $light_grey;
        padding-bottom: 25px;
    }
}

.category-product-grid {
    padding-top: 25px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    .category-product-grid-item {
        border: 1px solid $border;
        article {
            margin: 0;
            height: 100%;
        }
        .category-product-thumbnail {
            max-height: 150px;
            overflow: hidden;
        }
        .category-product-info {
            display: flex;
            justify-content: center;
            padding: 20px 20px 0px 20px;
            border-top: 5px solid $border;
            .dots {
                overflow: hidden;
            }
        }
    }
}