/* Find-Us page */ 

.find-us-content {
    @include container;
    @include main-content;
    .site-main {
        padding-top: 50px;
        h1 {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 2.5rem;
        }
    }
    .content-area {
        width: 70%;
        padding-right: 50px;
    }
    .page-sidebar {
        border-left: 1px solid $border;
        width: 30%;
    }
}

.find-us-titles {
    color: $purple;
    font-size: 2rem;
}

.widget-area {
    padding-left: 40px;
}

.find-us-form {
    text-transform: uppercase;
    .find-us-star {
        color: $orange;
    }
    input {
        border-radius: unset;
        box-shadow: none;
        text-shadow: none;
    }
    .find-us-submit input {
        padding: 10px 20px;
        text-transform: uppercase;
        background-color: $green;
        color: white;
        border-radius: unset;
        box-shadow: none;
        text-shadow: none;
        &:hover {
            background-color: $dark_green;
        }
    }
    p {
        color: $purple;
    }
}

.wpcf7-form-control {
    background-color: $comment;
}