/* Find-Us page */ 

.find-us-content {
    @include container;
    @include main-content;
    .content-area {
        width: 70%;
        padding-right: 50px;
    }
    .page-sidebar {
        border-left: 1px solid $light_grey;;
        width: 30%;
    }
    h2, h3 {
        color: $purple;
    }
}

.widget-area {
    padding-left: 40px;
}

.find-us-form {
    text-transform: uppercase;
    .find-us-star {
        color: $orange;
    }
    .find-us-submit input {
        padding: 10px 20px;
        text-transform: uppercase;
        background-color: $green;
        color: white;
        border-radius: unset;
        box-shadow: none;
        text-shadow: none;
    }
    p {
        color: $purple;
    }
}

.wpcf7-form-control {
    background-color: #F4F4F4;
}