/* Header */

.site-header {
    position: fixed !important;
    width: 100%;
    border-bottom: 1px solid $border;
    background-color: white; 
    opacity: 0.8;
    z-index: 100;
}

.header-container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
        width: 50px;
    }
}
.main-navigation {
    width: 50%;
    li {
        padding-right: 25px;
        a {
            text-decoration: none;
            text-transform: uppercase;
            line-height: 1.75;    
            color: $green;
            font-family: "Novecento Sans Web";
            font-weight: normal;
        }
    }
}

.search-form i {
    color: $green;
}