/* Shop page */ 

.shop-page {
    padding-top: 50px;
    @include container;
}

.shop-page-header {
    text-align: center;
    .shop-terms {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed $light_grey;
        padding: 0 300px 20px 300px;
        li {
            list-style-type: none;
            padding: 0 20px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $green;
                font-family: "Novecento Sans Web";
                font-weight: normal;
                font-size: 1.2rem;
                &:hover {
                    color: $purple;
                }
            }
        }
    }
}

.shop-products-grid {
    padding-top: 25px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    // @include container;
    .products-grid-item {
        border: 1px solid $border;
        article {
            margin: 0;
            height: 100%;
        }
        .product-thumbnail {
            max-height: 150px;
            overflow: hidden;
        }
        .product-info {
            display: flex;
            justify-content: center;
            padding: 20px 20px 0px 20px;
            border-top: 5px solid $border;
            .dots {
                overflow: hidden;
            }
        }
    }
}


