/* Shop page */ 

.shop-page {
    padding-top: 50px;
    @include container;
}

.shop-page-header {
    text-align: center;
    .shop-terms {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px dashed $light_grey;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }
}

.shop-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    @include container;
    .products {
        border: 1px solid;
        .product-thumbnail {
            height: 250px;
        }
    }
}


