/* Single Product page */


.single-product-content {
    @include container; 
    @include main-content;
    .single-product {
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .single-product-info {
            padding-left: 50px;
            .product-header {
                color: $orange;
                h1 {
                    margin: 0 auto;
                }
            }
            .product-price {
                font-family: "Novecento Sans Web";
                font-weight: normal;
                font-size: 2rem;
            }
            .product-icon button{
                padding: 15px 30px;
                background-color: white;
                border-color: black;
                border-radius: unset;
                text-transform: uppercase;
                // transition-duration: 0.4s;
                // button :hover{
                //     background-color: $green;
                //     color: white;
                // }
            }
        }
    }
}




