/* Single Product page */


.single-product-content {
    @include container; 
    @include main-content;
    .single-product {
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .single-product-info {
            padding-left: 50px;
            .product-header {
                color: $orange;
                h1 {
                    margin: 0 auto;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
            .product-price {
                font-family: "Novecento Sans Web";
                font-weight: normal;
                font-size: 2rem;
            }
            .product-icon button {
                padding: 15px 30px;
                background-color: white;
                border-color: black;
                border-radius: unset;
                box-shadow: none;
                text-shadow: none;
                text-transform: uppercase;
                &:hover {
                    border: none;
                    background-color: $green;
                    color: white;
                }
            }
        }
    }
}




