/* Single Journal page */ 

.single-journal-content {
    @include container;
    @include main-content;
    .content-area {
        width: 70%;
    }
}

.single-journal-post {
    padding-right: 50px;
    .entry-header {
        position: relative;
        img {
            width: 100%;
        }
        h1 {
            position: absolute;
            left: 0;
            top: 0;
            background-color: $green;
            padding: 20px 20px;
            color: white;
        }
        div {
            position: absolute;
            right: 0%;
            bottom: 6px;
            background-color: $green;
            padding: 10px 20px 10px 20px;
            color: white;
            font-family: "Novecento Sans Web";
            font-weight: normal;
        }
    }
    .entry-meta a {
        text-decoration: none;
        color: white;
        &:hover {
            color: $yellow;
        }
    }
    .entry-footer{
        text-transform: uppercase;
        font-family: "Novecento Sans Web";
        font-weight: normal;
        span {
            padding-right: 20px;
            a {
                text-decoration: none;
                color :$green;
                &:hover {
                    color: $purple;
                }
            }
        }
    }
}   

.product-comment {
    padding-right: 50px;
    padding-top: 50px;
    h3 {
        font-size: 2rem;
    }
    .submit {
        background-color: $green;
        color: white;
        border-radius: unset;
        box-shadow: none;
        text-shadow: none;
        width: unset;
    }
}

/* Log out comment */
.comment-form {
    width: 100%;
    text-transform: uppercase;
    font-family: "Novecento Sans Web";
    color: $purple;
    padding-bottom: 50px;
    .comment-form-author {
        display: inline-block;
        width: 48%;
    }
    .comment-form-email {
        display: inline-block;
        width: 48%;
        margin-left: 2%;
    }
    .comment-form-cookies-consent {
        display: none;
    }
    p {
        input {
            width: 100%;
            margin-top: 10px;
            background-color: $comment;
            border-radius: unset;

        }
        label {
            span {
                color: $orange;
            }
        }
        textarea {
            margin-top: 10px;
            background-color: $comment;
            border-radius: unset;
        }
    }
}