/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
    font-family: "Merriweather Web";
    font-weight: normal;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Novecento Sans Web";
    font-weight: bold;
}

/* Front page */

.hero-banner {
    background-image: url(../../assest/images/logos/inhabitent-logo-full.svg), url(../../assest/images/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: 35% 35%, cover;
    background-position: center;
    height: 100vh;
}

.fp-journal {
    h2 {
        text-align: center;
    }
}

.product-terms {
    @include container;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    .product-term {
        text-align: center;
        width: 20vw;
        border: 1px solid;
        border-top: 4px solid;
        padding: 0 20px;
        img {
            width: 70px;
        }
        a {
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 20px;
            background-color: $green;
            color: white;
        }
    }
}

.fp-journal-entries {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .journal-entry {
        display: flex;
        flex-direction: column;
        border: 1px solid;
        height: 30vw;
        width: 25vw;
        margin-left: 1.5rem;

        .fp-post-thumbnail {
            height: 250px;
        }
        
        .fp-post-comment {
            color: $medium_grey;
            font-size: 12px;
            margin-top: 20px;
            margin-left: 10px;
        }

        .fp-post-title {
            
            margin-left: 10px;

            a {
                text-decoration: none;
            }
    
            h3 {
                margin-right: 50px;
                font-size: 20px;
                letter-spacing: 1px;
            }

            .read-more-btn {
                border: 1px solid;
                padding: 5px 15px 5px 15px;
            }
        }
    }
}


