/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
    font-family: "Merriweather Web";
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Novecento Sans Web";
}

/* Front page */

.hero-banner {
    background-image: url(../../assest/images/logos/inhabitent-logo-full.svg), url(../../assest/images/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: 35% 35%, cover;
    background-position: center;
    height: 100vh;
}

.fp-journal {
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        padding: 20px 0;
        letter-spacing: 1px;
    }
}

.product-terms {
    @include container;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    .product-term {
        text-align: center;
        border: 1px solid $border;
        border-top: 4px solid $border;
        &:hover {
            border-color: $orange;
        }
        padding: 0 20px;
        img {
            width: 60px;
            padding-top: 10px;
        }
        a {
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 20px;
            border: none;
            background-color: $green;
            color: white;
            &:hover {
                background-color: $dark_green;
            }
        }
    }
}

.fp-journal-entries {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    .journal-entry {
        width: 100%;
        border: 1px solid $border;
        height: 420px;
        .fp-post-thumbnail {
            max-height: 240px;
            overflow: hidden;
            border-bottom: 4px solid $border;
        }
        .fp-post-info {
            margin-left: 10px;
            .fp-post-comment {
                font-size: 0.8rem;
                margin-top: 20px;
            }
            .fp-post-title {
                a {
                    text-decoration: none;
                }
                h3 {
                    margin-right: 50px;
                    letter-spacing: 1px;
                    color: $green;
                    font-size: 1.2rem;
                    font-family: "Novecento Sans Web";
                    font-weight: bold;
                    &:hover {
                        color: $purple;
                    }
                }
                .read-more-btn {
                    border: 1px solid black;
                    padding: 10px 20px;
                    color: black;
                    text-transform: uppercase;
                    font-family: "Novecento Sans Web";
                    font-weight: normal;
                    &:hover {
                        border: none;
                        background-color: $green;
                        color: white;
                    }
                }
            }
        }
    }
}


